@charset "utf-8";
/* CSS Document */
html {background-color: white}

body
{margin: 0 auto;
	padding: 2em;
	max-width: 80%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: black;
	background-color: white}

#navbar
{	text-align: center;
	position: absolute;
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 80%;
	background-color: white;
}

li {display: inline;}

li a {
	display: b;
	color: darkgrey;
	text-align: center;
	padding: 18px 43px;
	text-decoration: none;
	font-size:30pt;
}



li a:hover {font-size: 1.2 em;
color: black; }

h2 {font-size: 35pt;}

.space5{ margin-top: 5px; }
.space10{ margin-top: 10px; }
.space25{ margin-top: 25px; }
.space35{ margin-top: 35px; }
.space50{ margin-top: 50px; }
.space100{ margin-top: 100px; }
.space150{ margin-top: 150px; }