@charset "utf-8";
/* CSS Document */
html {background-color: #333 }

fixed-nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #B61919;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 120;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navmap{
	position:fixed;
	top:0;
    right:5%;
	background-color: #333;
    opacity: 100%;
    
}

.navmap a {
    display:block;
	color:#FFFFFF;
	text-align: center;
    align-content: center;
	text-decoration: none;
	font-size:20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #222;
}


sidebar {
    position:fixed; 
    left:79%; 
    margin-top:3%;
    padding-top:0%;
    padding-left: 0px; 
    text-align: left;
    color: white;
    width:20%;
    overflow-y: auto;
    height: 95%;
    
    
}

img {
    display: block;
    margin: auto;
    width: 100%;
}


body {
    margin-top: 30px;
	padding-left: 2%;
    padding-right: 5%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    }

h1 {
    color: #FFFFFF;
    font-size: 20pt;
    padding-top: 1%;
    opacity: inherit;
    padding-left: 6%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

p {
    color: #FFFFFF;
    opacity: inherit;
    font-size: 10pt;
    padding-left: 4.5%;
    padding-right: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}



